<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<link rel="stylesheet" th:href="@{/css/styles.css}">
<link rel="stylesheet" th:href="@{/css/formulario.css}">
<link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
<link rel="stylesheet" th:href="@{/css/custom.css}" />

<title>Gestion Incidencias</title>
</head>
<body>

	<br>
	<h3 style="text-align: center;">ACCESO DENEGADO</h3>
	<br>
	<h3 style="text-align: center;">No tienes acceso a esta dirección</h3>
	
	<br>
	<h4 style="text-align: center;">Regresa a la página anterior</h4>
	
</body>



</html>
