<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>



<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
<link rel="stylesheet" th:href="@{/css/custom.css}" />

<title>Gestion Incidencias</title>
</head>
<body>

	<div class="container">

		<h1>
			DETALLES<br />
		</h1>
		
		</form>
		
		<form class="form-inline" th:action="@{/logout}"
			style="text-align: right;">

			<div class="form-group mb-2">
				<label></label>
			</div>
			<input type="submit" class="btn btn-primary mb-2" value="Logout">
			
		</form>
		<br>
		<table class="table table-striped">
			<tr>
				<th style="text-align: center;">Nº</th>
				<th style="text-align: center;">Código</th>
				<th style="text-align: center;">Descripción</th>
				<th style="text-align: center;">Departamento</th>
			 <th style="text-align: center;">Estado</th>
				<th style="text-align: center;"></th>
			</tr>
			
			<td th:text="${incidencia.id}" />
			<td th:text="${incidencia.cod}" />
			<td th:text="${incidencia.descripcion}" />
			<td th:text="${incidencia.departamento}" />
		  <td> <a th:href="@{/procesos/detalles(id=${incidencia.id})}">Proceso</a>
		  <!-- <td> <a th:href="@{/incidencias/detalles(id=${incidencia.id})}">Proceso</a> --> 
			<td class="text-center">
			</tr>


		</table>
	</div>


	<div class="container">

		<h2 style="text-align: left;">Mensajes</h2>
		<table class="table table-striped">
			<tr>
				<th style="text-align: left;">Titulos</th>
				<th style="text-align: left;">Mensajes</th>
				<th style="text-align: center;">Acción</th>
				
			</tr>
			<tr th:each="mensaje, status : ${mensajes}">
				<td  style="text-align: left;" th:text="${mensaje.titulo}" />
				<td  style="text-align: left;" th:text="${mensaje.contenido}" />
				<td> <a  th:href="@{/mensaje/edit(id=${mensaje.mensaje_id})}">Editar</a>
				| <a th:href="@{/mensaje/delete(id=${mensaje.mensaje_id})}">Eliminar</a>
				
			</tr>

		</table>
		<p>
			<a th:href="@{/mensaje/new(id=${incidencia.id})}" class="btn btn-primary">Comentar
				</a>
				
		</p>
	</div>





</body>
</html>
