<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<link rel="stylesheet" th:href="@{/css/styles.css}">
<link rel="stylesheet" th:href="@{/css/formulario.css}">
<link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
<link rel="stylesheet" th:href="@{/css/custom.css}" />

<title>Gestion Incidencias</title>
</head>
<body>
	<br>
	<br>
	<div id="wrapper">


		<form method="post" th:object="${mensaje}"
			th:action="@{/mensaje/save}">

			<div class="form-group">
				<input id="mensaje_id" th:field="*{mensaje_id}" type="hidden" />
			</div>

			<div class="form-group">
				<label>Título:</label> <input type="text" class="form-control"
					th:field="*{titulo}" placeholder="Título del mensaje">
				<div th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}"
					class="has-error help-inline">firstName Error</div>
			</div>

			<div class="form-group">
				<label>Contenido:</label>
				<textarea rows="3" cols="25" th:field="*{contenido}"
					class="form-control" placeholder="Contenido">
						 </textarea>
				<div th:if="${#fields.hasErrors('contenido')}"
					th:errors="*{contenido}" class="has-error help-inline">firstName
					Error</div>
			</div>


			<div class="form-group">
				<label></label> <input type="hidden" class="form-control"
					th:field="*{incidencia}" placeholder="Cliente" readonly="true">
			</div>

			<button type="submit" class="btn btn-primary">Editar mensaje</button>

		</form>

	</div>
</body>
</html>
