<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>



<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
<link rel="stylesheet" th:href="@{/css/custom.css}" />

<title>Gestion Incidencias</title>
</head>
<body>

	<div class="container">
		<br> 
		<br>
		
		<form class="form-inline" th:action="@{/logout}"
			style="text-align: right;">

			<div class="form-group mb-2">
				<label></label>
			</div>
			<input type="submit" class="btn btn-primary mb-2" value="Logout">
			
		</form>
		<h2 style="text-align: left;">Procesos</h2>
		<table class="table table-striped">
			<tr>
				<th style="text-align: left;">Fecha</th>
				<th style="text-align: left;">Hora</th>
				<th style="text-align: left;">Estado</th>
				<th style="text-align: center;">Acción</th>

			</tr>
			<tr th:each="proceso, status : ${proceso}">
				<td style="text-align: left;" th:text="${proceso.fecha}" />
				<td style="text-align: left;" th:text="${proceso.hora}" />
				<td style="text-align: left;" th:text="${proceso.estado}" />
				<td> <a  th:href="@{/proceso/delete(id=${proceso.proceso_id})}">Eliminar</a>

			</tr>

		</table>
		<p>
			<a th:href="@{/proceso/new(id=${incidencia.id})}"
				class="btn btn-primary">Actualizar proceso</a>

		</p>
	</div>





</body>
</html>
